.gameboard {
  height: 100%;
  display:flex;
  flex-direction: column;

  &-top {
    flex:2;
  }
  &-middle {
    flex:4;
    display: flex;
    justify-content: space-between;
    .com-player-straight {
      flex:2;
    }
    .hand-section {
      flex: 4;
    }
  }
  &-bottom {
    flex:2;
  }
}